    <nav>
        <form action="/artist-search" method="get">
        <input type="text" name="searchartist" id="nav-txt"/>
        <input type="submit" value="Search for an Artist" id="nav-btn">
        </form>
    </nav>